@font-face{
	src: url('../fonts/fontello.woff');
	font-family: 'fontello-icons';
}
@font-face{
	src: url('../fonts/Montserrat-Bold.ttf');
	font-family: 'Montserrat-Bold';
}
@font-face{
	src: url('../fonts/Montserrat-Regular.ttf');
	font-family: 'Montserrat-Regular';
}
@font-face{
	src: url('../fonts/Montserrat-Light.ttf');
	font-family: 'Montserrat-Light';
}
@font-face{
	src: url('../fonts/RobotoSlab-Bold.ttf');
	font-family: 'RobotoSlab-Bold';
}
@font-face{
	src: url('../fonts/RobotoSlab-Regular.ttf');
	font-family: 'RobotoSlab-Regular';
}
@font-face{
	src: url('../fonts/RobotoSlab-Light.ttf');
	font-family: 'RobotoSlab-Light';
}
html{
	font-size: 10px;
}
body{
	margin: 0;
	padding: 0;	
}
h1, h2, h3, h4, p, span, ul{
	padding: 0;
    margin: 0;
}
.container{
	max-width: 1188px;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
}
input:focus::-webkit-input-placeholder{
	color: transparent;
}
textarea:focus::-webkit-input-placeholder{
	color: transparent;
}
/* ---------------Button Up------------------ */
.topNubex{
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: block;
	text-decoration: none;
	font-size: 2rem;
	z-index: 10;
	padding: 8px 20px;
	background-color: rgba(192,48,28, 0.5);
	border-radius: 5px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.8);
	font-family: 'fontello-icons';
	transition: all 500ms ease;
}
.topNubex:hover{
	color: #c0301c;
	background-color: #ffffff;
	border: 1px solid #c0301c;
	transition: all 500ms ease;
}
/* ----------------------Header--------------------- */
#header{
	display: block;
	background-image: url('../img/header-bcg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}
.nav-box{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	padding-bottom: 5px;
	position: relative;
}
.logo{
	font-size: 2.4rem;
	font-family: 'Montserrat-Bold';
	color: #fff;
}
.header-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 240px;
}
.header-box__item{
	font-family: 'Montserrat-Regular';
	font-size: 4.8rem;
	text-transform: uppercase;
	color: #fff;
}
.header-box__input{
	font-family: 'RobotoSlab-Light';
	font-size: 2rem;
	text-transform: capitalize;
	color: #fff;
	padding-top: 37px;
	padding-bottom: 54px;
}
.header-box__button{
	font-family: 'Montserrat-Bold';
	font-size: 1.6rem;
	padding: 20px 35px;
	border: none;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 500ms ease;
}
.header-box__button:hover{
	background-color: #fff;
	color: #c0301c;
	transition: all 500ms ease;
}

/* ------------------Burger------------------ */

.burger{
	display: none;
	width: 100px;
  	height: 100px;
	transform: translate(-50%, -50%);
	position: absolute;
	right: -50px;
	top: 10px;
}
.nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav.show{
	display: flex;
}
.nav__link{
	padding-left: 35px;
	list-style-type: none;
	transition: all 500ms ease;
	z-index: 10;
	text-decoration: none;
	font-size: 1.4rem;
	font-family: 'Montserrat-Regular';
	text-transform: capitalize;
	color: #fff;
}
.nav__link:hover{
	transition: all 500ms ease;
	color: #c0301c;
	z-index: 1;
}
/* ---------------- Burger button ------------------ */

svg{
	position: absolute;
	top: 57px;
	bottom: 0;
	right: 0;
	left: 0;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	cursor: pointer;
  }
  
  svg path{
	stroke-width: 35;
	stroke-linecap: round;
	stroke: #fff;
	fill: none;
	transition: all .5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar{
	stroke-dasharray: 240px 910px;
  }
  
  .middle_bar{
	stroke-dasharray: 240px 240px;
  }
  
  /* In cross form */
  
  .open .top_bar,
  .open .bottom_bar{
	stroke-dashoffset: -650px;
  }
  
  .open .middle_bar{
	stroke-dasharray: 0px 220px;
	stroke-dashoffset: -120px;
  }

/* -------------------Section-start--------------------- */
.section__item{
	display: flex;
	flex-direction: column;
	margin-bottom: 74px;
}
.section__title{
	font-family: 'Montserrat-Regular';
	font-size: 2rem;
	display: flex;
	justify-content: center;
	color: #555555;
	text-transform: uppercase;
}
.section__line{
	width: 50px;
	height: 2px;
	background-color: #555555;
	margin: 30px auto;
}
.section__input{
	font-family: 'RobotoSlab-Light';
	font-size: 1.6rem;
	color: #555555;
	display: flex;
	justify-content: center;
}
/* ---------------------Services----------------------- */
#services{
	padding-top: 100px;
	padding-bottom: 100px;
}
.services-box{
	display: flex;
	justify-content: space-around;
}
.services-box__item{
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	transition: all 500ms ease;
}
.services-box__icon-box{
	width: 86px;
	height: 86px;
	border: 1px solid #555555;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	cursor: pointer;
	justify-content: center;
    align-items: center;
}
.services-box__icon{
	font-family: 'fontello-icons';
	text-decoration: none;
	font-size: 5rem;
	color: #c0301c;
}
.services-box__title{
	font-family: 'Montserrat-Regular';
	font-size: 1.4rem;
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
}
.services-box__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.4rem;
	text-align: center;
}
.services-box__item:hover .services-box__icon-box{
	background-color: #c0301c;
	transition: all 500ms ease;
}
.services-box__item:hover .services-box__icon{
	color: #fff;
	transition: all 500ms ease;
}
/* -------------------About Us------------------ */
#about-us{
	background-color: #f8f8f8;
	padding-top: 100px;
	padding-bottom: 100px;
}
.about-us__box{
	display: flex;
	justify-content: space-between;
}
.about-us__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.4rem;
	color: #555555;
	flex-basis: 48%;
	line-height: 1.5;
}
.about-us__item{
	margin-top: 74px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-us__item-box{
	flex-basis: 23%;
}
.about-us__item-photo{
	position: relative;
	width: 100%;
	height: 76.5%;
	transition: all 500ms ease;
}
.about-us__item-photo--hidden{
	display: none;
	justify-content: center;
	padding-top: 210px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.about-us_photo{
	transition: all 500ms ease;
}
.about-us_photo:hover{
	transition: all 500ms ease;
}
.about-us__item-photo:hover .about-us__item-photo--hidden{
	display: flex;
}
.about-us__item-photo:hover .about-us_photo{
	filter: brightness(0.6);
}
.about-us__social{
	font-family: 'fontello-icons';
	font-size: 1.4rem;
	text-decoration: none;
	width: 28px;
	height: 28px;
	text-align: center;
	box-sizing: border-box;
	padding: 7px;
	color: #fff;
	transition: all 500ms ease;
}
.about-us__social:hover{
	background-color: #c0301c;
	transition: all 500ms ease;
}
.about-us__item-name{
	font-family: 'Montserrat-Regular';
	font-size: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}
.about-us__item-profession{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.3rem;
	text-align: center;
}
/* --------------------Works------------------- */
#works{
	padding-top: 100px;
	padding-bottom: 100px;
}
.section__input--hover{
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}
.section__input--works{
	padding: 0 12px;
	font-family: 'RobotoSlab-Regular';
	font-size: 1.6rem;
}
.section__input--works:hover{
	color: #c0301c;
	cursor: pointer;
}
.gallery__item--1{
	background-image: url('../img/gallery-1.png');
}
.gallery__item--2{
	background-image: url('../img/gallery-2.png');
}
.gallery__item--3{
	background-image: url('../img/gallery-3.png');
}
.gallery__item--4{
	background-image: url('../img/gallery-4.png');
}
.gallery__item--5{
	background-image: url('../img/gallery-5.png');
}
.gallery__item--6{
	background-image: url('../img/gallery-6.png');
}
.gallery__item--7{
	background-image: url('../img/gallery-7.png');
}
.gallery__item--8{
	background-image: url('../img/gallery-8.png');
}
.gallery__item--9{
	background-image: url('../img/gallery-9.png');
}
.gallery{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.gallery__item{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	width: 360px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	transition: all 500ms ease;
}
.gallery__item:hover{
	box-shadow: inset 0 0 0 1000px rgba(216, 39, 39, 0.5);
	transition: all 500ms ease;
}
.gallery__item--hidden{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gallery__title{
	font-family: 'Montserrat-Regular';
	font-size: 1.8rem;
	color: #fff;
	text-transform: capitalize;
}
.gallery__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	color: #fff;
	text-transform: capitalize;
	padding-top: 20px;
	padding-bottom: 28px;
}
.gallery__link{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.4rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 10px 21px;
	background-color: transparent;
	transition: all 500ms ease;
}
.gallery__link:hover{
	color: #c0301c;
	background-color: #fff;
	transition: all 500ms ease;
}
.gallery__item:hover .gallery__item--hidden{
	display: flex;
}
/* ---------------------Sub-Blog----------------------- */
#sub-blog{
	background-image: url('../img/blog-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 170px;
	width: 100%;
	box-shadow: inset 0 0 0 2000px rgba(216, 39, 39, 0.5);
	padding-top: 100px;
	padding-bottom: 100px;
}
.sub-blog__item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 53px;
}
.sub-blog__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 3rem;
	color: #fff;
	padding-bottom: 53px;
}
.sub-blog__link{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	box-sizing: border-box;
	padding: 15px;
	border: 2px solid #fff;
	border-radius: 3px;
	transition: all 500ms ease;
}
.sub-blog__link:hover{
	background-color: #fff;
	color: #c0301c;
	transition: all 500ms ease;
}
/* ----------------------Blog------------------- */
#blog{
	padding-top: 100px;
	padding-bottom: 100px;
}
.blog__item{
	display: flex;
	justify-content: space-between;
}
.blog__image--1{
	background-image: url('../img/blog-2.png');
}
.blog__image--2{
	background-image: url('../img/blog-3.png');
}
.blog__image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	width: 460px;
	flex-basis: 38%;
}
.blog__box{
	flex-basis: 59%;
}
.blog__content{
	display: flex;
	justify-content: space-between;
}
.blog__calendar{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat-Regular';
	font-size: 2.4rem;
	box-sizing: border-box;
	padding: 18px 11px 17px 11px;
	border: 2px solid #777777;
	flex-basis: 12%;
	-ms-flex-preferred-size: calc(12% - 2rem);
}
.blog__mounth{
	font-size: 1.4rem;
}
.blog__content-box{
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-direction: column;
	flex-basis: 84%
}
.blog__title{
	font-family: 'Montserrat-Bold';
	font-size: 1.6rem;
	color: #555555;
	text-transform: uppercase;
}
.blog__author{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.3rem;
	color: #808080;
	font-style: italic;
}
.blog__box__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.4rem;
	color: #555555;
	line-height: 1.7;
	padding-top: 26px;
	padding-bottom: 37px;
}
.blog__link{
	font-family: 'RobotoSlab-Bold';
	font-size: 1.3rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #555555;
	transition: all 500ms ease;
}
.blog__link:hover{
	color: #c0301c;
}
.blog__item:hover .blog__author--hover{
	color: #c0301c;
	transition: all 500ms ease;
}
.blog__item:hover .blog__title{
	color: #c0301c;
	transition: all 500ms ease;
}
.between-blog__item--line{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 37px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 37px;
}
/* -----------------------Clients----------------------- */
#clients{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f8f8f8;
}
.clients__item{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.clients__item-logo--1{
	background-image: url('../img/logo-1.png');
	width: 145px;
	height: 27px;
}
.clients__item-logo--2{
	background-image: url('../img/logo-2.png');
	width: 121px;
	height: 49px;
}
.clients__item-logo--3{
	background-image: url('../img/logo-3.png');
	width: 142px;
	height: 17px;
}
.clients__item-logo--4{
	background-image: url('../img/logo-4.png');
	width: 109px;
	height: 21px;
}
.clients__item-logo--5{
	background-image: url('../img/logo-5.png');
	width: 123px;
	height: 46px;
}
.clients__item-logo{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.clients__input{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding-top: 70px;
}
.clients__quote{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.8rem;
	color: #555555;
	width: 70%;
	padding-bottom: 50px;
}
.clients__human{
	font-family: 'RobotoSlab-Regular';
	font-size: 2rem;
	color: #555555;
}
/* ------------------------Contact------------------------- */
#contact{
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact-box{
	display: flex;
	justify-content: space-between;
}
.contact__item{
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
}
.contact__data{
	display: flex;
}
.contact__icon{
	font-family: 'fontello-icons';
	font-size: 2rem;
	color: #555555;
	padding-right: 15px;
}
.contact__data-box{
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}
.contact__title{
	font-family: 'Montserrat-Regular';
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #555555;
	margin-bottom: 20px;
}
.contact__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	color: #555555;
	text-decoration: none;
	line-height: 2;
}
.contact__input:hover{
	color: #c0301c;
}
.contact__request{
	flex-basis: 64%;
}
.contact__form{
	display: flex;
    flex-wrap: wrap;
}
.contact__form-box{
	padding-right: 30px;
	padding-bottom: 20px;
}
.contact__form-input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	outline: none;					/* убрать подсвет рамки! */
	text-transform: uppercase;
	border: 1px solid #555555;
	box-sizing: border-box;
	padding: 17px;
	width: 350px;
	transition: all 500ms ease;
}
.contact__form-texarea{
	width: 730px;
	height: 100px;
	resize: none;
}
.contact__form-input:focus{
	border: 1px solid #c0301c;
	transition: all 500ms ease;
}
.contact__form-button{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #555555;
	box-sizing: border-box;
	padding: 17px 35px;
	border: 1px solid #555555;
	background-color: #fff;
	transition: all 500ms ease;
	cursor: pointer;
}
.contact__form-button:hover{
	color: #c0301c;
	border: 1px solid #c0301c;
	transition: all 500ms ease;
}
.contact__form-ps{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	color: #555555;
	display: flex;
	align-items: center;
	padding-left: 40px;
}
.contact__form--star{
	color: #c0301c;
}
/* -------------------Footer------------------- */
#footer{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #c0301c;
}
.footer__item{
	display: flex;
	justify-content: center;
	height: 45px;
}
.footer__social{
	display: flex;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
	margin: 7px;
	transition: all 500ms ease;
	z-index: 10;
	justify-content: center;
    align-items: center;
}
.footer__social:hover .footer-social-input{
	transform: scale(1.1);
	transition: all 100ms ease;
	z-index: 1;
}
.footer__social:hover{
	width: 36px;
	height: 36px;
	transform: scale(2);
	transition: all 500ms ease;
	z-index: 1;
}
.footer-social-input{
	font-family: 'fontello-icons';
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}
.footer__line{
	width: 50px;
	height: 2px;
	background-color: #fff;
	margin: 30px auto;
}
.footer__input{
	font-family: 'RobotoSlab-Regular';
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
/* ----------------------Adaptive-------------------- */
@media (max-width: 1124px){
	.about-us__item{
		justify-content: space-around;
	}
	.about-us__item-box{
		margin-bottom: 20px;
	}
	.about-us__item-box:last-child{
		margin-bottom: 0;
	}
	.about-us__item-photo{
		flex-basis: fill;
	}
	.gallery{
		justify-content: space-evenly;
	}
}
@media (max-width: 1024px){
	.blog__image{
		height: 220px;
	}
	.contact__request{
		flex-basis: 60%;
	}
	.contact__form{
		justify-content: center;
	}
	.contact__form-input, .contact__form-texarea{
		width: 450px;
	}
	.contact__form-box{
		padding-right: 0;
	}
	.contact__form-ps{
		max-width: 43%;
		justify-content: flex-start;
		display: inline;
	}
}
@media (max-width: 777px){
	.header-box{
		text-align: center;
		padding-top: 220px;
	}
	.header-box__item{
		font-size: 4rem;
	}
	.header-box__input{
		display: none;
	}
	.header-box__button{
		display: none;
	}
	.burger{
		display: flex;
	}
	.nav-box{
		position: relative;
		justify-content: center;
	}
	.logo{
		position: absolute;
		top: 45px;
		left: 0;
	}
	.nav{
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		top: 90px;
		flex-direction: column;
		align-items: center;
	}
	.nav__link{
		font-size: 2rem;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.services-box{
		flex-direction: column;
	}
	.services-box__item{
		padding-bottom: 50px;
	}
	.services-box__item:last-child{
		padding-bottom: 0;
	}
	.about-us__box{
		flex-direction: column;
	}
	.about-us__input:first-child{
		padding-bottom: 50px;
	}
	.section__input--hover{
		flex-wrap: wrap;
	}
	.section__item{
		padding: 5px 12px;
	}
	.blog__image{
		height: 160px;
		flex-basis: 42%;
	}
	.sub-blog__input{
		font-size: 2.4rem;
	}
	.blog__image{
		flex-basis: 38%;
	}
	.blog__title{
		font-size: 1.4rem;
	}
	.blog__content-box{
		padding: 3%;
	}
	.clients__item{
		flex-wrap: wrap;
	}
	.clients__item-logo{
		margin: 10px;
	}
	.section__input{
		text-align: center;
	}
	.contact-box{
		flex-direction: column;
	}
	.contact__item, .contact__request{
		flex-basis: auto;
	}
	.contact__form-input,
	.contact__form-texarea,
	.contact__form-button{
		width: 390px;
	}
	.contact__form-ps{
		width: 50%;
		justify-content: none;
		padding-top: 10px;
		padding-left: 0;
	}
	.contact__item, .contact__request{
		margin: auto;
	}
	.contact_form--star{
		display: inline;
	}
}
@media (max-width: 430px){
	.header-box__item{
		font-size: 3.8rem;
	}
	.sub-blog__input{
		text-align: center;
	}
	.gallery__item{
		height: 258px;
		width: 290px;
	}
	.blog__item{
		flex-direction: column;
		align-items: center;
	}
	.blog__image{
		height: 200px;
		width: 300px;
		margin-bottom: 20px;
	}
	.contact__form-input,
	.contact__form-texarea,
	.contact__form-button{
		width: 260px;
	}
}